body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

* {
	box-sizing: border-box;
}


:root {
	--accent: #2945FF;
}

/*Header section*/

.header-title-wrapper {
	display: flex;
	justify-content: space-between;
	padding-right: 30px;
	margin-left: 30px;
	width: 100%;
	max-width: 400px;
}

.navbar {
	display: none;
}

.burger-menu {
	color: #2945FF;
	font-size: 30px;
	margin-top: 30px;
}

.header-title::after {
	content: "";
	width: 21px;
	height: 4px;
	background-color: #2945FF;
	position: absolute;
	margin: 32px 0 0 5px;
	border-radius: 10px;
}

@media (min-width: 768px) {
	
	.header-wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width: 1400px;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 120px;
	padding-top: 30px;
	}

	.header-title {
	font-weight: 600;
	font-size: 26.4043px;
	line-height: 100%;
	letter-spacing: -0.03em;
	color: #000000;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	justify-items: center;
	}

	.header-title::after {
		margin: 25px 0 0 190px;
	}

	.burger-menu {
		display: none;
	}

	.navbar {
		display: flex;
		flex-direction: row;
		list-style-type: none;
		margin-top: 30px;
		/*max-width: 600px;*/
		width: 100%;
	}

	.navbar-link {
		text-decoration: none;
		padding: 30px;

		align-items: flex-end;
		font-weight: 600;
		font-size: 15px;
		line-height: 100%;
		color: #000;
	}

	.navbar-link:hover {
		background-color: #2945FF;
		color: #FFF;
		border-radius: 24px;
		align-items: center;
		padding: 14px 24px;
		width: 114px;
		height: 43px;
	}
}

/*Header section END*/

/*Fashion fits from the big brands section*/

.girl-image-container {
	padding: 69px 37px 49px 37px;
	padding-right: 37px;
	width: 100%;
	max-width: 500px;
	position: relative;

}

.girl-image {
	width: 100%;
	max-width: 500px;
}

.first-dot {
	position: absolute;
	top: 50px;
	left: 10px;
	z-index: -1;
}

.second-dot {
	position: absolute;
	bottom: 16px;
	right: 16px;
	z-index: -1;
}

.fashion-fits-text-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-right: 17px;
	padding-left: 37px;
}

.fashion-fits-section-title {
	display: none;
}

.fashion-fits-mobile-title {
	width: 100%;
	font-style: normal;
	font-weight: 600;
	font-size: 51px;
	line-height: 111%;
	letter-spacing: -0.03em;
	color: #000545;
	margin: 0;
}

.fashion-fits-paragraph {
	width: 100%;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.03em;
	color: #393F4D;
}

.fashion-fits-btn {
	align-items: center;
	padding: 19px 46px;
	gap: 10px;
	width: 100%;
	height: 64px;
	max-width: 301px;
	background: #2945FF;
	border-color: #2945FF;
	color: #FFF;
	font-size: 18px;
	border-radius: 100px;
}

@media (min-width: 768px) {
	.fashion-fits-section-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		justify-items: center;
	}

	.fashion-fits-text-container {
		order: -1;
		padding: 109px 19px 59px 45px;
	}

	.fashion-fits-btn { 
		width: 178px;
		font-size: 18px;
		font-weight: 600;
		padding: 10px 22px;
	}

	.fashion-fits-mobile-title {
		display: none;
	}

	.fashion-fits-section-title {
		display: block;
		width: 100%;
		max-width: 380px;
		font-style: normal;
		font-weight: 600;
		font-size: 68px;
		line-height: 111%;
		letter-spacing: -0.03em;
		color: #000545;
		margin: 0;
	}

	.fashion-fits-paragraph { 
		font-size: 18px;
		width: 100%;
		max-width: 443px;
	}

	.first-dot {
		position: absolute;
		top: 30px;
		right: 0;	
	}
}

/*Fashion fits from the big brands section END*/

/*Lates updates section*/


.two-girls-container {
	padding: 91px 47px 49px 37px;
	width: 100%;
	position: relative;
}

.two-girls-image {
	width: 100%;
	max-width: 500px;
}

.dot-one {
	position: absolute;
	bottom: 20px;
	left: 10px;
	z-index: -1;
}

.dot-two {
	position: absolute;
	top: 35px;
	right: 16px;
	z-index: -1;
}

.latest-updates-text-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-right: 17px;
	padding-left: 37px;
	margin-top: 50px;
}

.latest-updates-section-title {
	width: 100%;
	max-width: 500px;
	font-weight: 600;
	font-size: 38px;
	line-height: 57px;
	letter-spacing: -0.03em;
	color: #000545;
}

.latest-updates-desktop-title {
	display: none;
}

.latest-updates-date {
	display: none;
}

.latest-updates-paragraph {
	width: 100%;
	max-width: 426px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.03em;
	color: #393F4D;
}

.latest-updates-paragraph-two{
	display: none;
}

.CTA {
	position: relative;
	color: #2945FF;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 100%;
	text-decoration: none;
}

.CTA::after {
	content: "";
	width: 21px;
	height: 4px;
	background-color: #2945FF;
	position: absolute;
	margin: 40px 50px 10px -47px;
	border-radius: 10px;
}

.latest-updates-section-wrapper {
	max-width: 854px;
    margin: 0 auto;
}

@media (min-width: 768px) { 

	.latest-updates-title-container{
		display: flex;
		flex-direction: column;
		align-items: left;
	}

	.latest-updates-section-div {
		display: flex;
		flex-direction: row;
		justify-content: center;
		justify-items: center;
	}

	.latest-updates-desktop-title {
		display: block;
		font-weight: 600;
		font-size: 68px;
		line-height: 75px;
		letter-spacing: -0.03em;
		color: #000545;
		width: 100;
		max-width: 380px;
		margin: 0;
	}

	.fashion-fits-mobile-title {
		display: none;
	}

	.latest-updates-date {
		display: block;
		font-weight: 700;
		font-size: 16px;
		line-height: 25px;
		letter-spacing: -0.03em;
		color: #A5AEED;
	}

	.latest-updates-paragraph-two {
		display: block;
		width: 100%;
		max-width: 426px;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.03em;
		color: #393F4D;
	}

	.dot-one{
		top: 0;
		left: 13px;
	}
	.dot-two {
		display: none;
	}

}


/*Latest updates section END*/

/*Best-pics-section*/

.best-pics-section-wrapper {
	margin-top: 50px;
}

.best-pics-image-container {
	padding: 69px 37px 49px 37px;
	padding-right: 37px;
	width: 100%;
	max-width: 500px;
	position: relative;
}

.best-pics-girl-image {
	width: 100%;
	max-width: 500px;
}

.dot1 {
	position: absolute;
	top: 50px;
	left: 10px;
	z-index: -1;
}

.dot2 {
	position: absolute;
	bottom: 16px;
	right: 16px;
	z-index: -1;
}

.best-pics-text-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-right: 17px;
	padding-left: 37px;
}

.best-pics-section-title {
	width: 100%;
	max-width: 500px;
	font-style: normal;
	font-weight: 600;
	font-size: 51px;
	line-height: 111%;
	letter-spacing: -0.03em;
	color: #000545;
	margin: 0;
}

.best-pics-paragraph {
	width: 100%;
	max-width: 400px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.03em;
	color: #393F4D;
}

.best-pics-paragraph-two {
	display: none;
}

@media (min-width: 768px) {
	.best-pics-section-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		justify-items: center;
	}

	.best-pics-text-container {
		order: -1;
		padding: 109px 19px 59px 45px;
	}

	.fashion-fits-paragraph { 
		font-size: 18px;
		width: 100%;
		max-width: 443px;
	}
	
	.best-pics-paragraph-two {
		display: block;
		width: 100%;
		max-width: 443px;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.03em;
		color: #393F4D;
	}

	.fashion-fits-section-title {
		display: block;
		width: 100%;
		max-width: 380px;
		font-style: normal;
		font-weight: 600;
		font-size: 68px;
		line-height: 111%;
		letter-spacing: -0.03em;
		color: #000545;
		margin: 0;
	}

	.dot1 {
		position: absolute;
		top: 30px;
		right: 0;	
	}

	.dot2 {
		display: none;
	}
}
/*Best-pics-section END*/

/*Bag section*/

.total-container {
	padding: 55px 25px 55px 25px
}

.h3 {
	color: var(--accent);
	width: 118px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	margin-top: 100px;
}

.section-title {
	color: #000545;
	margin: 0;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 38px;
	line-height: 57px;
	text-align: left;
}

.bags-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: center;
	margin-top: 20px;
}

.bags {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: center;
	box-sizing: border-box;
	width: 325px;
	height: 384px;
	border-radius: 24px;
	padding: 30px 21px 24px 21px;
}

.bags:hover {
	background-color: #2945FF;
	color: #FFF;
	text-decoration-color: #FFF;
}

.bags:hover .CTA {
	color: #FFF;
}

.bag-title {
	margin-bottom: 0;
	width: 100%;
	text-align: center;
}

.text {
	text-align: center;
}

.CTA {
	position: relative;
	color: #2945FF;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 100%;
	text-decoration: none;
}

.CTA::after {
	content: "";
	width: 21px;
	height: 4px;
	background-color: #2945FF;
	position: absolute;
	margin: 40px 50px 10px -47px;
	border-radius: 10px;
}


@media (min-width: 768px) {
	.information {
	margin-left: 117px;
	}

	.section-title {
		margin-left: 87px;
	}

	.bags-container {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	.bags {
		display: flex;
		align-items: flex-start;
		padding: 39px 19px 59px 45px;
	}

	.bag-title {
		text-align: left;
	}

	.text {
		text-align: left;
	}

	.CTA::after {
		margin-left: -79px;
	}
}

/*Bag section end*/

/*Image section */

.total-container {
	max-width: 1140px;
	margin: 0 auto;
}

.image-section-container {
	padding: 41px 23px 96px 23px;
	position: relative;
}

.boy-image {
	width: 100%;
	margin-bottom: 0;
	display: block;
}

.dots-image {
	display: none;
}

.blue-container {
	height: 263px;
	width: 100%;
	border-radius: 0px;
	background-color: #2945FF;
	padding: 21px 14px 24px 13px;
}

.image-title {
	margin-top: 0;
	font-family: Inter;
	font-size: 37px;
	font-weight: 600;
	line-height: 41px;
	letter-spacing: -0.03em;
	text-align: left;
	color: #FFFFFF;
}

.image-paragraph {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	color: #FFFFFF;
}

.sign-up-button {
	border: 1px solid #FFF;
	border-radius: 60px;
	width: 100%;
	height: 40px;
	background-color: #2945FF;
	color: #FFF;
	margin-top: 13px;
}

@media (min-width:  726px) {

	.boy-image {
		position: relative;
	}

	.blue-container {
		right: 0;
	    position: absolute;
	    background: transparent;
	    top: 50px;
	    width: 380px;
	    padding: 0;

	}

	.image-title {
		font-size: 68px;
		line-height: 75px;
		margin-bottom: 15px;
	}

	.image-paragraph {
		font-size: 18px;
		line-height: 30px;
		margin-right: 50px;
	}


	.sign-up-button {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 19px 46px;
		gap: 10px;
		width: 178px;
		height: 56px;
		border: none;
	}

	.dots-image {
		display: block;
	}

	.one {
		position: absolute;
		top: 17px;
		left: -8px;
	}

	.two {
	    position: absolute;
    	bottom: 40px;
    	right: 0;
	}

	.image-container::after {
		content: "";
	    background-color: #2945FF;
	    height: calc(100% - 160px);
	    width: 100%;
	    border-radius: 0px;
	    position: absolute;
	    top: -24px;
	    right: -38px;
	    z-index: -1;
	}
}

/*Image section end*/

/*Brands section*/

.brands-section-wrapper{
	width: 100%;
	max-width: 400px;
	/*padding: 55px 25px 55px 25px;*/
}

.brand-section-title-container {
	padding: 0 23px 30px 23px;
	font-weight: 600;
	font-size: 38px;
	line-height: 42px;
	letter-spacing: -0.03em;
	color: #000545;
}

.brand-logos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap:  15px;
}

.brand-image {
	width: 160px;
	height: 90px;
	border: 1px solid #000;
	border-radius: 24px;
	background-color: #FFF;
	padding: 10px 39px;
}

.hermes {
	padding-left: 0;
	padding-top: 0;
}

.adidas {
	padding-top: 20px;
}

.nike {
	padding-top: 20px;
}

.gucci {
	padding-left: 45px;
}

.louis {
	filter: grayscale(0);
}

@media (min-width:  726px) {

	.brands-section-wrapper{
		max-width: 1142px;
		margin: 0 auto;
	}
	.brands-section-wrapper {
		
	}

	.brand-section-title-container {
		width: 100%;
		max-width: 500px;
		font-size: 51px;
		line-height: 77px;
	}

	.brand-logos {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap:  15px;
		margin: 0 auto;
		}	

	.brand-image {
		width: 360px;
		height: 222px;
		border: 1px solid #000;
		border-radius: 24px;
		background-color: #FFF;
		padding: 10px 39px;

		}

	.brand-image:hover {
		background-color: #2945FF;
		border: none;
		}

	.hermes-bag {
		width: 100%;
	}

}

/*Brands section END*/